# Experiment Details
#
# - method: name of installed method (string), section with HiSeq settings (string), or path to method config file (path)
# - cycles: number of cycles to run (integer)
# - first flowcell: which flowcell to run first, A or B (string)
#
[experiment]
method = image
cycles = 1
first flowcell = A


# Position of Sections on Flowcell
#
# section name = AorB: LLx, LLy, URx, URy (use slide grid)
#
# - section name: Name of area on slide to image
# - LLx: Lower left x position on flowcell
# - LLy: Lower left y position on flowcell
# - URx: Upper right x position on flowcell
# - URy: Upper right y position on flowcell
#
# For Example:
# Area2Image: A = 15, 45, 10, 35
#
[sections]
tetraspeck = A: 13, 37, 12, 36


# Specify Cycle Specific Reagents
#
# variable_reagent N = reagent name
# 
# -variable_reagent: cycle dependent reagent in recipe, must be lowercase and no spaces (string)
# -N: cycle (integer)
# -reagent name: reagent used for variable_regent at cycle N (string)
# 
# For Example:
# 1stab1 1 = GFAP
#
[cycles]




# Specify Filters to Use for Each Cycle
# 
# color N = name
# 
# -color: laser color (string, ie green, g, or G)
# -N: cycle (integer)
# -name: filter used for imaging at cycle N, see table below for options (float/string)
#
# Laser | Filter Options
# green | open, 0.2, 0.6, 1.4, 1.6, 2.0, 4.0, home
# red   | open, 0.2, 0.9, 1.0, 2.0, 3.0, 4.5, home
#
# For Example:
# green 1: 1.6
#
[filters]


# Assign Reagents to Ports
# 
# N = name
#
# -N: port number (integer)
# -name: name of reagent
#
# For Example:
# 1 = PBS
#
[reagents]

# Method specific section (optional)
# 
# Can use installed methods or seperate method config file instead
# To see installed methods, pyseq -l
# To see details of installed methods, pyseq -m method_name
#
[image]
red laser power = 250
green laser power = 250
red focus filter = 0.2
green focus filter = 1.0
default green filter = open
default red filter = open
default em filter = False
autofocus = full once
focus tolerance = 10
z planes = 20
barrels per lane = 8
reagent flowrate = 100
z position = 21500