# Test out system: switches ports, pumps, holds, waits, and images
[dry_image_test]
recipe = dry_image_test_recipe.txt
flush speed = 2000
reagent speed = 2000
barrels per lane = 8

[valve24]
1 = dum1
2 = dum2
3 = dum3
4 = dum4
5 = dum5
