# Experiment Details
#
# - method: name of installed method (string), section with HiSeq settings (string), or path to method config file (path)
# - cycles: number of cycles to run (integer)
# - first flowcell: which flowcell to run first, A or B (string)
#
[experiment]
method = maintenance_wash
cycles = 1
first flowcell = A


# Position of Sections on Flowcell
#
# section name = AorB: LLx, LLy, URx, URy (use slide grid)
#
# - section name: Name of area on slide to image
# - LLx: Lower left x position on flowcell
# - LLy: Lower left x position on flowcell
# - URx: Upper right x position on flowcell
# - URy: Upper right y position on flowcell
#
# For Example:
# Area2Image: A = 15, 45, 10, 35
#
[sections]
# mouse
Dum1a = A: 15, 31.5, 11, 28
Dum1b = B: 15, 31.5, 11, 28



# Specify Cycle Specific Reagents
#
# variable_reagent N = reagent name
#
# -variable_reagent: cycle dependent reagent in recipe, must be lowercase and no spaces (string)
# -N: cycle (integer)
# -reagent name: reagent used for variable_regent at cycle N (string)
#
# For Example:
# 1stab 1 = GFAP
#
[cycles]


# Specify Filters to Use for Each Cycle
#
# color N = name
#
# -color: laser color (string, ie green, g, or G)
# -N: cycle (integer)
# -name: filter used for imaging at cycle N, see table below for options (float/string)
#
# Laser | Filter Options
# green | open, 0.2, 0.6, 1.4, 1.6, 2.0, 4.0, home
# red   | open, 0.2, 0.9, 1.0, 2.0, 3.0, 4.5, home
#
# For Example:
# green 1: 1.6
#
[filters]


# Assign Reagents to Ports
#
# N = name
#
# -N: port number (integer)
# -name: name of reagent
#
# For Example:
# 1 = PBS
#
[reagents]
1 = 1
2 = 2
3 = 3
4 = 4
5 = 5
6 = 6
7 = 7
8 = 8
9 = 9
10 = 10
11 = 11
12 = 12
13 = 13
14 = 14
15 = 15
16 = 16
17 = 17
18 = 18
19 = 19
20 = 20
21 = 21
22 = 22
23 = 23
24 = 24

# Method specific section (optional)
#
# Can use installed methods or seperate method config file instead
# To see installed methods, pyseq -l
# To see details of installed methods, pyseq -m method_name
#
[maintenance_wash]
Recipe = maintenance_wash.txt
Barrels per lane = 8
Reagent flowrate = 500
