# Test out system: only switches ports, pumps, holds, and waits. No imaging.
[wet_test]
recipe = wet_test_recipe.txt
flush speed = 2000
reagent speed = 2000
barrels per lane = 8

[reagents]
1 = water1
2 = water2
